@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>
<br /><br />
<address>
    Bilgisayar ve Bilişim Bilimleri Fakültesi <br />
    Sakarya Üniversitesi, Sakarya<br />
    <abbr title="Phone">P:</abbr>
    0 (264) 295 56 57
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">akindemir@sakarya.edu.tr</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">alicoskun@sakarya.edu.tr</a><br />
    <strong>Sales:</strong> <a href="mailto:Marketing@example.com">osmanbasabakar@sakarya.edu.tr</a>
</address>